*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    position : sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand, h4{
    height: 40px;
    padding-left: 30px
}

.navbar-nav, li{
    padding: 0 10px
}

.navbar-nav, li, a{
    float: right;
    text-align: left;
}

#nav-bar, ul, li, a:hover{
    color: #03af65!important;
}

.navbar{
    background: #fff;
}

.navbar-toggler{
    border: none!important;
}

.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/*Slider*/
#slider{
    width: 100%
}

.d-block{
    filter: brightness(85%)
}

.carousel-caption{
    top: 60%;
    transform: translateY(-50%);
    bottom: initial!important
}

.carousel-caption, h5{
    color: #fff;
    font-size: 42px!important;
}

/*About*/
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about, .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content{
    padding-top: 20px;
}

/*Services*/

#services{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(services.jpeg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px
}

#services, h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services{
    margin-top: 40px;
}

.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc
}

.services .col-md-3:hover{
    background: #03af65;
    cursor: pointer;
    transition: 0.7s 
}
/*Team*/
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555
}

h1{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

h1::after{
    content:'';
    background: #03af65;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px
}